<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    <link rel="stylesheet" href="../Statics/formulario.css">
</head>
<body>
    <div id="contenedor">
        <h1>Formulario Completo</h1>
        <form id="formulario">
            <div id="preguntas">
            <label for="nombre">Nombre completo:</label>
            <input type="text" name="nombre" id="nombre" required>
            <br>
            <br>
            <label for="edad">Edad:</label>
            <input type="number" name="edad" id="edad" min="1" placeholder="Ingresa tu edad" required>
            <br>
            <br>
            <label for="codigo_postal">Codigo postal:</label>
            <input type="number" id="codigo_postal" name="codigo_postal" placeholder="Ingresa tu código postal: xxxxx" required>
            <br>
            <br>
            <label>Género:</label>
            <div>
            <input type="radio" name="genero" id="masc" value="Masculino" checked>
            <label for ="masc">Masculino</label>
            <input type="radio" name="genero" id="fem" value="Femenino">
            <label for ="fem">Femenino</label>
            <input type="radio" name="genero" id="otroGen" value="Otro">
            <label for ="otroGen">Otro</label>
            </div>
            <br>
            <br>
            <label>Intereses (selecciona todos los que apliquen): </label>
            <br>
            <div>
            <input type="checkbox" name="intereses" id="tecn" value="Tecnologia"> 
            <label for="tecn">Tecnología</label>
            <input type="checkbox" name="intereses" id="deportes" value="Deportes"> 
            <label for="deportes">Deportes</label>
            <input type="checkbox" name="intereses" id="music" value="Musica"> 
            <label for="music">Música</label>
            <input type="checkbox" name="intereses" id="arte" value="Arte">
            <label for="arte">Arte</label>
            </div>
            <br>
            <br>
            <label for="pais">País:</label> 
            <select name="pais" id="pais">
                <option>Selecciona tu país</option>
                <option value="Mexico">México</option>
                <option value="España">España</option>
                <option value="Argentina">Argentina</option>
                <option value="Colombia">Colombia</option>
                <option value="Peru">Perú</option>
                <option value="Chile">Chile</option>
                <option value="Venezuela">Venezuela</option>
                <option value="Otros">Otros</option>
            </select>
            <br>
            <br>
            <label for="comentarios">Comentarios adicionales:</label>
            <textarea name="comentarios" id="comentarios" placeholder="Escribe tus comentarios aqui..."></textarea>
            <br>
            <br>
            <label for="imagen">Subir imagen:</label>
            <input type="file" name="imagen" id="imagen" accept="image/*">
            <br>
            <br>
            <button type="submit" class="submit-btn">Enviar Formulario</button>
            </div>
        </form>
    </div>
    <script src="../Dynamics/formulario.js"></script>
</body>
</html>